@import "../utilities/variables.scss";

// Flexbox
@mixin flex ($aling-items,$justify-content,$gap,$wrap,$flex-direction) {
    display: flex;
    align-items: $aling-items;
    justify-content: $justify-content;
    gap: $gap;
    flex-wrap: $wrap;
    flex-direction: $flex-direction;
}

//Propiedades del borde
@mixin propiedades {
    @property --gradient-angle {
        syntax: "<angle>";
        initial-value: 0deg;
        inherits: false;
    }
    @keyframes rotation {
        0% { --gradient-angle: 0deg; }
        100% { --gradient-angle: 360deg; }
    }
}

// border style
@mixin border {
    &::before, &::after {
        content: "";
        position: absolute;
        inset: -.8rem;
        z-index: -1;
        background: conic-gradient(
            from var(--gradient-angle),
            $color-10,
            $color-10,
            $color-3,
            $color-4,
            $color-5,
            $color-6,
            $color-7,
            $color-8,
            $color-9,
            $color-10,);
        border-radius: 3rem;
        animation: rotation 20s linear infinite;
    }
    
    &::after {
        filter: blur(1.5rem);
    }
}