//Paleta de colores
$color-1: #4d194d;
$color-2: #3e1f47;
$color-3: #312244;
$color-4: #272640;
$color-5: #212f45;
$color-6: #1b3a4b;
$color-7: #144552;
$color-8: #0b525b;
$color-9: #065a60;
$color-10: #006466;