.presentacion {
    max-width: 1440px;
    margin: 0 auto;
    padding: 4rem 0;

    .articulos-presentacion {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;

        .presentacion-img {        
            max-width: 550px;
            img {
                border-radius: 8rem;
                width: 100%;
                box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.64);
            }
        }
        .presentacion-text {
            text-align: center;
            padding: 0 10rem;
            .text-1 {
                color: #ffffff;
                font-family: "Rubik Glitch", system-ui;
                font-weight: 400;
                font-style: normal;
                text-shadow: 4px 4px 4px rgba(0,0,0,0.6);
                
                h1 {
                    font-size: 12vh;
                }
            }
            .text-2 {
                @extend .text-1;
                h2 {
                    font-size: 8vh;
                }
            }
        }
    }
}   