.presentacion {
    max-width: 1440px;
    margin: 0 auto;
    padding: 4rem 0;

    .articulos-presentacion {
        display: flex;
        align-items: center;
        justify-content: center;
        

        .presentacion-img {
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
            img {
                border-radius: 14%;
                height: 70vh;
                width: 60vh ;
            }
        }
        .presentacion-text {
            text-align: center;
            padding: 0 10rem;
            .text-1 {
                color: #ffffff;
                font-family: "Rubik Glitch", system-ui;
                font-weight: 400;
                font-style: normal;
                
                h1 {
                    font-size: 12vh;
                }
            }
            .text-2 {
                @extend .text-1;
                h2 {
                    font-size: 8vh;
                }
            }
        }
    }
}   