.redes {
    max-width: 1440px;
    margin: 2rem auto;
    padding: 5rem 0;

    .redes-title {
        display: flex;
        justify-content: center;

        h2 {
            font-size: 7rem;
            color: #ffffff;
            font-family: "Rubik Glitch", system-ui;
            font-weight: 400;
            font-style: normal;
        }
    }

    .box-redes {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 6rem;
        
        .instagram {
            
            a {
                
                svg {
                    fill:tomato;
                }
            }
        }
    } 
}